/*
  Version: 1.4
*/

/* RESET */
/* ----------------------------------------- */

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 750px) {

  .postcontent p {
    font-size: 1.2em;
  }

  #ds-wrapper #ds-reset .ds-dialog-left {
    display: none !important;
  }

  #ds-wrapper .ds-dialog, #ds-wrapper #ds-reset.ds-dialog {
    width: 95% !important;
  }

  #ds-wrapper #ds-reset .ds-dialog-body {
    /*height: auto !important;*/
  }

  #ds-wrapper #ds-reset .ds-dialog-right {
    border-left: none !important;
    top: 1px !important;
    position: relative !important;
    right: none !important;
    padding-left: 0 !important;
    margin: 0 auto;
  }

  #ds-wrapper {
    top: 0 !important;
  }

  #cse {
    margin-top: 3em;
  }
}

@media screen and (min-width: 951px) {
  .mobile-video {
    display: none;
  }

  #switcher {
    display: none !important;
  }

  #copyright-small {
    display: none !important;
  }

  .navpages {
    display: none;
  }

  #footer-area {
    display: none !important;
  }
}

@media screen and (max-width: 950px) {

  body {
    overflow: scroll;
    overflow-x: hidden;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
  }

  .backstretch {
  /*display: none !important;*/
  }

  #switcher {
    height: 50px;
    background: #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 5;
  }

  #switcher a {
    color: #fff !important;
  }

  .switcher_right {
    float: right;
    margin-right: 2%;
    line-height: 45px;
    font-size: 1.3em;
  }

  .switcher_left {
    float: left;
    margin-left: 2%;
  }

  .postcontent th, .postcontent td {
    float: left;
  }

  #logo {
    float: none !important;
    margin: 0 auto;
    margin-bottom: -1.5em !important;
    margin-top: 2%;
  }

  #stumblr-sidebar {
    width: auto !important;
    float: none !important;
  }

  .feed {
    display: none;
  }

  .postcontent-status {
    padding-left: 1.7em !important;
    width: auto;
    padding-right: 1.7em !important;
  }

  .postcontent ul li {
  }

  .stumblr-title-status h2 {
    padding-left: 1.3em !important;
  }

  .stuumblr-pagination {
    display: none;
  }

  input.name1, input.email1 {
    width: 95% !important;
  }

  input.subject1 {
    width: 95% !important;
  }

  #footer-area {
    width: 100% !important;
  }

  #footer-area a {
    color: #46535A;
    font-size: 1em;
  }

  #footer-area h3 {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #46535A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px 0 white;
  }

  .title_right {
    display: none;
  }

  .footer-widget {
    width: 92% !important;
    margin-right: 0 !important;
  }

  .source-image {
    display: none;
  }

  #sidebar-widget-area {
    display: none !important;
  }

  #wrap {
    width: auto !important;
    margin: 0 auto !important;
    margin-right: 2% !important;
    margin-left: 2% !important;
    /*margin-top: 2% !important;*/
  }

  #post-area {
    width: auto !important;
    float: none !important;
  }

  .type-post {
    width: 100% !important;
  }

  .stumblr-image img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 100%;
  }

  #bdshare {
    display: none;
  }

  #copyright {
    display: none !important;
  }

  a#go-top {
    display: none !important;
  }

  .read-more .read-more a:hover, .read-more a {
    /*display: none !important;*/
  }

  .stumblr-content {
    width: 90%;
   /* margin-right: 5.5%;*/
  }

  .stumblr-meta p, .stumblr-meta-image p {
    font-size: 0.9em !important;
  }

  .stumblr-meta {
    width: auto !important;
  }

  .stumblr-meta-image {
    width: auto !important;
  }

  .stumblr-title {
    height: auto !important;
  }

  .stumblr-title h2 {
    line-height: 1.5em !important;
    width: 95%;
  }

  .stumblr-category {
    display: none !important;
  }

  .postcontent a img, .postcontent img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 100%;
    padding: 0;
  }

  .pc-video {
    /*display: none;*/
  }

  .mobile-video img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 100%;
  }

  .music_swf_bg {
    width: 60px !important;
  }

  .music_swf {
    width: 37px !important;
  }

  .play-title {
    display: none !important;
  }

  .play-data {
    display: none !important;
  }
}