#comment-form {
	margin-top: 20px
}

.comments-area a {
	border-bottom: 0px solid #258FD3!important;
}

.commentlist .reply a {
	color: #aaa;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear
}

.commentlist .reply a:hover {
	color: rgba(152,152,152,.6)
}

.comments-area ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comments-area li {
	font-size:14px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
	display: inline;
	float: left;
	margin-bottom: 10px;
	padding: 10px
}

.comments-area p{
	margin-bottom:0px!important
}

.says{
	display: none
}

.avatar {
	width: 50px;
	height: 50px;
	margin-left:-5px !important;
	float: none;
	border-radius: 100%
}

.comment-meta {
	display: none
}

.comment-author {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Droid Sans',sans-serif;
	letter-spacing: 1px;
}

#comment-form {
	width: 100%
}

.text-input {
	clear: both;
	border: 1px solid #8e8e8e;
	margin-bottom: 5px;
	width: 90%;
	padding: 7px;
	color: #555;
	font-size: 12px
}

.comment-input {
	clear: both;
	border: 1px solid #8e8e8e;
	margin-bottom: 5px;
	width: 90%;
	padding: 7px;
	color: #555;
	font-size: 12px
}

.comment-submit {
	clear: both;
	width: 120px;
	height: 30px;
	line-height: 25px;
	background: #e5e5e5;
	border: 1px solid #8e8e8e
}