.comment-submit {
	right: auto;
	left: 0px;
	top: .5em !important;
	background: #646464 !important;
	color: #fff !important;
	text-shadow: none !important;
	border: none !important;
	border-radius: 5px !important;
	-webkit-transition: all .15s ease-in-out 0s;
	-moz-transition: all .15s ease-in-out 0s;
	width: 5em !important;
	height: 2em !important;
}

.comment-submit:hover {
background: #177EC0 !important;
}

.comments-area li {
	padding-left: 60px;
	font-size: 14px;
	padding: 5px;
	display: inline;
}

.commentlist .reply {
	font-size: 13px;
	line-height: 16px;
}




.comments-area a {
	border-bottom: 0px solid #258FD3!important;
}

.commentlist .reply a {
	color: #aaa;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear
}

.commentlist .reply a:hover {
	color: rgba(152,152,152,.6)
}

