#ds-thread #ds-reset .ds-textarea-wrapper {background: #FFF;}
#ds-thread #ds-reset a.ds-like-thread-button {
background: #fff;
border: 1px solid #d8d8d8;
}
.ds-post-repost {display:none !important;}
#ds-thread #ds-reset .ds-textarea-wrapper textarea, #ds-thread #ds-reset .ds-textarea-wrapper .ds-hidden-text {font-size: 15px !important;}
#ds-reset {font-size:14px !important;}
#ds-thread #ds-reset .ds-post-options {border: 1px solid #D8D8D8;border-bottom-color:none}
#ds-reset .ds-highlight {color: #2D709B !important;}
#ds-thread #ds-reset .ds-textarea-wrapper 
{
border-bottom: 1px solid #D8D8D8;
border-top: 1px solid #D8D8D8;
border-left: 1px solid #D8D8D8;
border-right: 1px solid #D8D8D8;
border-radius: 5;
}
.ds-textarea-wrapper {
-webkit-transition: all .15s ease-in-out 0s !important;
}
.ds-textarea-wrapper:hover {
border: 1px solid #2D709B !important;
}
.ds-post-button {
right: auto;
left: 0px;
top: .5em !important;
background: #646464 !important;
color: #fff !important;
text-shadow: none !important;
border: none !important;
border-radius: 5px !important;
-webkit-transition: all .15s ease-in-out 0s;
-moz-transition: all .15s ease-in-out 0s;
width: 5em !important;
height: 2em !important;
}
.ds-post-button:hover {
background: #177EC0 !important;
}
.ds-sync {
display: none !important;
font-size: 12px;
color: #999;
line-height: 30px;
position: absolute;
right: auto;
top: 0.5em;
left: 10em;
}
.ds-toolbar-buttons {left: 0 !important;top: 1em !important;}
#ds-reset .ds-gradient-bg  {background:none;}
#ds-thread #ds-reset .ds-post-options {border:none;}
.ds-powered-by {display: none;}
.ds-login-buttons {display: none;}
#ds-reset {margin-top: 5em;}
#ds-thread #ds-reset .ds-replybox {margin-bottom: 3em !important;}
#ds-thread #ds-reset .ds-sort {display: none;}
.ds-post-likes{display:none;}
#ds-thread #ds-reset li.ds-tab a.ds-current {
background: none !important;
border: none;
}
#ds-thread {
margin-bottom: 1.5em !important;
}
#ds-reset .ds-avatar {margin-left:-5px !important;}
#ds-reset .ds-avatar img {border-radius: 50px 50px 50px 50px;padding:2px;}
#ds-thread #ds-reset li.ds-post {border-top: 0px dotted rgba(0, 0, 0, 0.13);}
/*关闭顶部虚线*/
/*#ds-thread #ds-reset .ds-toolbar {border-top: 1px dotted rgba(0, 0, 0, 0.13);}*/
#ds-thread #ds-reset .ds-textarea-wrapper {border-color: #E4E4E4 #E4E4E4 -moz-use-text-color;}
#ds-thread #ds-reset .ds-post-options {border-color: #E4E4E4 -moz-use-text-color #D3D3D3 #DADADA;}
#ds-reset p {color: #51575A;}
#ds-thread #ds-reset .ds-post-self:hover .ds-post-delete, #ds-thread #ds-reset .ds-post-self:hover .ds-post-report {display: none;}
#ds-thread #ds-reset .ds-meta {border-bottom: none;}
#ds-thread #ds-reset ul.ds-children ul.ds-children {margin-left: 0;border-left: none;}
#ds-thread #ds-reset ul.ds-children .ds-post-self {padding-left: 20px;}
#ds-thread #ds-reset ul.ds-children {border-left: 0px solid whiteSmoke;}
/*关闭左侧白条*/
#ds-thread #ds-reset li.ds-post {margin-bottom:10px;}
#ds-thread #ds-reset .ds-comments {border-bottom:none;}
.ds-comments p {font-size:1.1em !important;}
#ds-thread #ds-reset .ds-user-name {font-size:0.9em !important;}